.metronome {
	display: flex;
	flex-direction: row;
	gap: var(--big-margin);
}

.metronome .inputbox>:nth-child(2) /* distance label <-> input */ {
	margin-left: 0.5rem;
}

.metronome button {
	display: flex;
	align-items: center;
	gap: 5px;
}

.metronome button.playing {
	background-color: #dddddd;
}
