.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 30px;
	padding: 30px;;
	gap: 15px;
	font-size: larger;
	background-color: var(--background);
	box-shadow: var(--shadow) 1.95px 1.95px 2.6px;
}

.menu a {
	display: flex;
	align-items: center;
	gap: 8px;
}

.menu a span {
	width: 1rem;
	text-align: center;
}

@media (max-aspect-ratio: 1/1) /* width <= height (portrait) */ {
	.menu {
		flex-direction: row;
	}
}
