.settingseditor {
	margin-bottom: var(--big-margin);
	padding: 10px;
	background-color: var(--background);
	box-shadow: var(--shadow) 0px 10px 36px 0px;
	user-select: none;
}

details.settingseditor[open] summary {
  border-bottom: 1px solid #aaa;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.settingseditor form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--big-margin);
}

.settingseditor summary .inputbox {
	display: inline-flex;
	width: calc(100% - 30px);
	justify-content: space-between;
}

.settingseditor select#selectedNotes option {
	margin-left: 5px;
}

.settingseditor .groupbox {
	display: flex;
	flex-direction: column;
}

.settingseditor .inputbox {
	margin: 5px;
}

.settingseditor .inputbox>:nth-child(2) /* distance label <-> input */ {
	margin-left: 0.5rem;
}

.settingseditor .multiplebox {
	display: flex;
	flex-direction: column;
}
