:root {
	--background: #f0f3ff;
	--mainbackground: #e6f0ff;
	--foreground: #602353;
	--shadow: rgba(0, 0, 0, 0.15);
	--big-margin: 30px;
}

@media (max-aspect-ratio: 1/1) /* width <= height (portrait) */ {
	:root {
		--big-margin: 10px;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
}

body {
	color: var(--foreground);
	background: var(--mainbackground);
	font-family: Georgia, serif;
}

.content {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.page {
	align-items: center;
	justify-items: center;
	font-family: var(--font-geist-sans);
	width: 100%;
	padding: var(--big-margin);
}

@media (max-aspect-ratio: 1/1) /* width <= height (portrait) */ {
	.content {
		flex-direction: column;
	}

	.page {
		padding-left: 0;
		padding-right: 0;
	}
}

.page main {
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
	--shadow: 4px 4px 8px rgba(0, 0, 0, 0.40);
}

a:hover {
	text-shadow: var(--shadow);
}

a:hover img {
	filter: drop-shadow(var(--shadow));
}

/* SVG interactions */
div[id^="partition"] svg .selected .vf-annotation text {
	display: none;
}
