.footer {
	margin-bottom: var(--big-margin);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	opacity: 0.75;
}

.footer a {
	display: flex;
	align-items: center;
	gap: 5px;
	margin: var(--big-margin);
}
